html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#help {
    cursor: help;
    position: absolute;
    right: 15px;
    top: 15px;
  /*  background-color: black; */
    color: white;
    padding: 24px;
    font-family: sans-serif;
    font-size: 15px;
    user-select: none;
}
#help-content {
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 17px;
    white-space: pre;
    z-index: 10;
}


element.style {
    pointer-events: auto;
    z-index: 9999999;
    left: 439.391px;
    top: 0px;
    height: 222px;
    width: 385.266px;
    animation-duration: 100ms;
    transition-duration: 100ms;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
    border-radius: 0;
    border: 3px solid transparent;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow-background {
    border: 11px solid transparent;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-content {
    color: white;
}

.tooltipster-sidetip .tooltipster-content {
    line-height: 18px;
    padding: 6px 14px;
}
.tooltipster-content {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
.tooltipster-base {
    display: flex;
    position: absolute;
}
.tooltipster-box {
    flex: 1 1 auto;
}
/*div {
    display: block;
}
