html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#help {
    cursor: help;
    position: absolute;
    right: 15px;
    top: 15px;
  /*  background-color: black; */
    color: white;
    padding: 24px;
    font-family: sans-serif;
    font-size: 15px;
    user-select: none;
}
#help-content {
    font-family: monospace;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 17px;
    white-space: pre;
    z-index: 10;
}


element.style {
    pointer-events: auto;
    z-index: 9999999;
	right : 15px
    top: 15px;
    height: 222px;
    width: 385.266px;
    animation-duration: 100ms;
    transition-duration: 100ms;
}

.tooltipster-base {
	/* this ensures that a constrained height set by functionPosition,
	if greater that the natural height of the tooltip, will be enforced
	in browsers that support display:flex */
	display: flex;
	pointer-events: none;
	/* this may be overriden in JS for fixed position origins */
	position: absolute;
}

.tooltipster-box {
	/* see .tooltipster-base. flex-shrink 1 is only necessary for IE10-
	and flex-basis auto for IE11- (at least) */
	flex: 1 1 auto;
}

.tooltipster-content {
	/* prevents an overflow if the user adds padding to the div */
	box-sizing: border-box;
	/* these make sure we'll be able to detect any overflow */
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}
.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade.tooltipster-show {
	opacity: 1;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
    border-radius: 0;
    border: 3px solid transparent;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow-background {
    border: 11px solid transparent;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-content {
    color: white;
}

.tooltipster-sidetip .tooltipster-content {
    line-height: 18px;
    padding: 6px 14px;
}

